<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:utext="${post.title}">post</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="../templates/common/navbar :: navbar"></div>


<div class="container">

    <div style="padding-top: 150px;"></div>
    <!-- 帖子详情 -->
    <!-- 标题 -->
    <h5 class="mb-4">
        <img src="http://static.nowcoder.com/images/img/icons/ico-discuss.png"/>
        <span th:utext="${post.title}">島民為什麼不用C++</span>
        <div class="float-right">
            <a th:href="|/board/${board.ename}|">
                <button type="button" class="btn btn-info" th:text="${board.name}">
                    board
                </button>
            </a>
            <!--            <button type="button" class="btn btn-danger btn-sm">置顶</button>-->
            <!--            <button type="button" class="btn btn-danger btn-sm">加精</button>-->
            <!--            <button type="button" class="btn btn-danger btn-sm">删除</button>-->
        </div>
    </h5>
    <!-- 作者 -->
    <div class="media pb-3 border-bottom">
        <a th:href="|/user/${user.username}|">
            <img th:src="${user.avatar}" class="align-self-start mr-4 user-header"
                 alt="用户头像" style="width:50px;height:50px;">
        </a>
        <div class="media-body">
            <div class="mt-0 text-warning" th:utext="${user.username}">user</div>
            <div class="text-muted mt-3">
                <b th:text="${#dates.format(post.createTime, 'yyyy-MM-dd HH:mm:ss')}">2019-04-15
                15:32:18</b>
                <ul class="d-inline float-right">
                    <li class="d-inline ml-2">
                        <a href="javascript:;"
                           th:onclick="|like(this, 2, ${post.id}, ${post.userId});|"
                           class="text-primary">
                            <b th:text="${ifLike ==true ? '已赞' : '赞'}">赞</b> <i th:text="${likeCount}">11</i>
                        </a>
                    </li>
                    <li class="d-inline ml-2">|</li>
                    <li class="d-inline ml-2">
                        <span class="badge badge-pill badge-secondary " th:text="${post.replyCount}">7</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 正文 -->
    <div class="mt-4 mb-3 content" th:utext="${post.content}" style="white-space: pre-wrap">
        想到高中的時候有程式設計 然後開課第一天
        然後開課第一天就丟給你幾百頁的講義教你自己看
        期末要交成果出來
        每天上課就是面對電腦，教室超安靜
        學程式設計都這樣看書看講義就好？
    </div>


    <!-- 回帖 -->
    <div class="container mt-3">

        <hr>

        <ul class="list-unstyled mt-4">
            <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="map:${comments}">
                <a th:href="|/user/${map.user.username}|">
                    <img th:src="${map.user.avatar}" class="align-self-start mr-4 user-header"
                         style="width:50px;height:50px;" alt="avatar">
                </a>
                <div class="media-body">
                    <div class="mt-0">
                        <span class="font-size-12 text-success" th:utext="${map.user.username}">user</span>
                        <span class="badge badge-secondary float-right floor">
                                #<i th:text="${map.reply.floor}">1 </i>
                            </span>
                    </div>
                    <div class="mt-2" th:utext="${map.reply.content}" style="white-space: pre-wrap">
                        content
                    </div>

                    <div class="mt-4 text-muted font-size-12">
                        <span>
                            <b th:text="${#dates.format(map.reply.createTime, 'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
                        </span>

                        <ul class="d-inline float-right">
                            <li class="d-inline ml-2">
                                <a href="javascript:;"
                                   th:onclick="|like(this, 3, ${map.reply.id}, ${map.reply.userId});|"
                                   class="text-primary">
                                    <b th:text="${map?.ifLike == true ? '已赞' : '赞'}">赞</b>
                                    <i th:text="${map.likeCount}">1</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- ---------   pagination   ------------->

    <ul class="pagination justify-content-center" th:with="begin=1 , end=${page.totalPage} , size=2"
        style="padding-top: 100px">
        <!-- 上一页 -->
        <li class="page-item">
            <a class="page-link" th:if="|${page.cur != 1 }|"
               th:href="|${page.path}?page=${page.cur - 1}|">&laquo;</a>
        </li>

        <!-- list -->
        <li th:class="|page-item ${i == page.cur ? 'active' : ''}|" th:each="i:${#numbers.sequence(begin,end)}">
            <a class="page-link" th:text="${i}" th:href="|${page.path}?page=${i}|"></a>
        </li>


        <!-- 下一页 -->
        <li class="page-item">
            <a class="page-link" th:if="|${page.cur != page.totalPage  }|"
               th:href="|${page.path}?page=${page.cur + 1}|">&raquo;</a>
        </li>

    </ul>

    <!-- 按钮触发模态框 -->
    <div>
        <button class="btn btn-primary btn-sm" data-toggle="modal"
                data-target="#myModal">
            <h5>回复</h5>
        </button>
    </div>

</div>


<!-- 发布模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabelOne" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <!--                <h3 class="modal-title" id="myModalLabelOne">发布回复</h3>-->
            </div>
            <div class="modal-body">
                <div>
                    <form action="#" id="reply_form" role="form">
                        <input type="hidden" id="postid" th:value="${post.id}">
                        <div class="form-group">
                            <label>请输入内容(
                                <small>500字以内</small>
                                )</label>
                            <textarea id="reply_textarea" class="form-control" rows="4" cols="65"
                                      name="replyContent"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <!--            <form role="form" id="uploadImgForm">-->
            <!--                &lt;!&ndash;                <div class="form-group">&ndash;&gt;-->
            <!--                &lt;!&ndash;                    <label>上传图片</label>&ndash;&gt;-->
            <!--                &lt;!&ndash;                    <input type="file" id="selectImg" name="img" accept="*">&ndash;&gt;-->
            <!--                &lt;!&ndash;                </div>&ndash;&gt;-->
            <!--                <%&#45;&#45; <input type="submit" class="btn btn-default" value="D">&#45;&#45;%>-->
            <!--            </form>-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" onclick="publish_reply()"
                        class="btn btn-primary">提交
                </button>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/global.js"></script>
<script src="/static/js/publish.js"></script>
<script src="/static/js/like.js"></script>
<script src="/static/js/websocket.js"></script>
</body>
</html>